@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  --bgColor: #223344;
  --bgColor2: #090a0f;
  --accentColor: #E6E6E6;
  --locationColor: #c7c7c7;
  --font: 'Karla', sans-serif;
  --delay: .3s;
}
html {
  background: linear-gradient(217deg, rgb(122 183 212), rgba(66, 92, 128) 70.71%);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font);

  background-attachment: fixed;
  opacity: 0;
  animation: 1s ease-out var(--delay) 1 transitionAnimation;
  /* duration/timing-function/delay/iterations/name */
  animation-fill-mode: forwards;
}

.fa-check-circle {
  color: #ffffff;
}

#profilePicture img {
  position: relative;
  width: 96px;
  height: 96px;
  display: block;
  margin: 35px auto 20px;
  border-radius: 50%;
  box-shadow: 0 5px 25px 4px rgb(46 46 46 .35);
  -webkit-tap-highlight-color: transparent;
}

#userName {
  color: var(--accentColor);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#Location {
  color: var(--locationColor);
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  position: relative;
  background-color: transparent;
  color: var(--accentColor);
  border: solid var(--accentColor) 2px;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  /* 17px */
  text-decoration: none;
  /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
  -webkit-tap-highlight-color: transparent;
}



@media (hover: hover) {
  .link:hover {
    background-color: var(--accentColor);
    color: var(--bgColor);
  }

}

.link:active {
  background-color: var(--accentColor);
  color: var(--bgColor);
}



/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
