
body {
    font-family: 'Poppins', sans-serif;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
#card {
   margin-top: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cardcontainer {
  width: 350px;
  height: 200px;
  position: relative;
  perspective: 800px;
  -webkit-perspective: 800px;
  -o-perspective: 800px;
  -moz-perspective: 800px;
}

#cardz {
   width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
}

#cardz figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

#cardz .front {
width: 350px;
height: 200px;
background: radial-gradient(102.97% 206.6% at 4.82% 5.45%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), url(img/cardgrd.png);
background-size:cover;
filter: drop-shadow(5px 12px 25px rgba(204, 204, 204, 0.8));
border-radius: 10px;
}
.cardname {
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FFFFFF;
position: absolute;
left: 10px;
top: 105px;
}
.cardsubtitle {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
position: absolute;
left: 10px;
top: 148px;
}
#cardz .back {
background: radial-gradient(100% 294.88% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #333333;
box-shadow: 5px 12px 25px rgba(204, 204, 204, 0.8);
border-radius: 10px;
transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
}
.cardnameb {
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
margin: 0;
color: #FFFFFF;
position: absolute;
left: 10px;
top: 10px;
}
.cardsubtitleb {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
position: absolute;
left: 10px;
top: 30px;
}
#card .flipped {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
#flip {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
#flip:focus {outline: none;}
.cardbuttoncon {
    display: flex;
   align-items: center;
   justify-content: center;
}
#qrcodeicon{
position: absolute;
right: 10px;
top: 10px;
}
.link {
    text-decoration: none;
}
.emailcon {
   position: absolute;
   left: 10px;
   top: 100px; 
}
.websitecon {
position: absolute;
   left: 10px;
   top: 120px; 
}
.email {
    color: #FFFFFF;
    font-size: .8rem;
}
.website {
    color: #FFFFFF;
    font-size: .8rem;
}
#sharebuttons {
   display: flex;
   align-items: center;
   justify-content: center; 
}
.save {
filter: drop-shadow(0px 8px 40px #D3D3D3);
background: #8D83FF;
border-radius: 10px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
padding: 10px 30px;
border: none;
margin: 5px 8px 10px 0;
}
.save:focus {outline: none;}
.share {
filter: drop-shadow(0px 8px 40px #D3D3D3);
background: #333333;
border-radius: 10px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
padding: 10px 30px;
border: none;
margin: 5px 0px 10px 8px;   
}
.share:focus {outline: none;}
hr {
    max-width: 350px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.copybtn {
margin: 15px;
background: #3284FF;
border-radius: 30px;
padding: 10px 30px;
border: none;
color: #FFFFFF;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
#url {
  margin: 10px;
  background: #F5F5F5;
  border: 3px solid #3284FF;
  border-radius: 15px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-left: 5px;
  max-width: 200px;
}
#url:focus {outline: none;}

::placeholder {
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 21px;
padding-left: 5px;
}
